<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Security</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap">
    <style>
        body {
            display: flex;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: 'Hind', sans-serif;
        }

        .content {
            text-align: center;
            margin-top: 200px;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="content">
<h1>Welcome to Index PAGE!</h1>
<p>You can <a href="/login">login</a> to my application!</p>
</div>

</body>
</html>